@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100;300;400&family=Rajdhani:wght@300&family=Roboto:wght@300&display=swap');
.applicant {
  color: rgb(64 64 64);
  float: left;
}

