@import "../../styles/variables.scss";

.home_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin: auto;
  height: calc(100vh - 4rem);
  padding: 1rem;
  z-index: 0;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 40px;
  &.error {
    overflow: hidden;
  }

  .home_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .nb_ticket {
      display: flex;
      align-items: center;
      gap: 5px;

      h1 {
        background: linear-gradient(to right, #6b3dce, #f6990d);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }

    .search {
      border: 1px solid $main_border;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;
      gap: 5px;

      input {
        border: none;
        outline: none;
      }
    }
  }

  .home_menu {
    margin-bottom: 20px;
  }

  $background: null;

  .home_stat {
    display: flex;
    justify-content: space-between;
    @media (max-width: 769px) {
      flex-direction: column;
      gap: 5px;
    }

    &[data-theme="light"] {
      .box::before {
        background: $backgroundLight;
      }
    }

    &[data-theme="dark"] {
      .box::before {
        background: $backgroundDark;
      }
    }
  }

  .home_item_container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
  }
}
