@import "../../styles/variables.scss";
.LoginContainer {
    // background-color: $background;
    // color: $color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;

    .formCountainer {

        border: 1px solid lightgray;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border-radius: 5px;
        

        @media(max-width:426px) {
            width: 100%;
            border: none;
        }

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 300px;

        @media(max-width:426px) {
            width: 100%;
        }

        p {
            text-align: center;
            .signUp {

                color: violet;
                text-decoration: underline;

            }

        }


    }
}