.RegisterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 100vh;
    gap: 2rem;

    .formCountainer {
        h1{
            margin: 3rem 0 2rem 0;
        }
        border: 1px solid lightgray;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap: 2rem;
        border-radius: 5px;
        @media(max-width:426px) {
            width: 100%;
            border: none;
        }

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 300px;
        @media(max-width:426px) {
            width: 100%;
        }

        p {
            text-align: center;
            .signIn {

                color: violet;
                text-decoration: underline;

            }

        }

        
    }
}