.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__left{
        .umberger {
            width: 40px;
            height: 40px;
            margin: 2px 0 2px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 5px;
    
            &:hover {
                background-color: lightgray;
                cursor: pointer;
                color: black;
            }
        }
    }

    .header__right{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
}