@import "../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Rajdhani:wght@300&family=Roboto:wght@300&display=swap");
.FollowUpContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  .chat-container {
    flex: 1;
    overflow-y: scroll;
    // margin-bottom: 100px;
  }

  .chat-bubble {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    clear: both;
    max-width: 70%;
    ul li {
      list-style-position: inside;
    }
    ol li {
      list-style-position: inside;
    }
    img {
      max-width: 50%;
      height: auto;
    }
    p {
      word-wrap: break-word;
    }
  }

  .FollowUpIcon {
    &:hover {
      cursor: pointer;
      color: lightgray;
    }
  }
  // .FollowUpIconDelete {
  //   color: red;
  //   &:hover {
  //     cursor: pointer;
  //     color: lightgray;
  //   }
  // }

  .deleted {
    background-color: rgb(30 41 59);
    color: white;
    font-family: "Rajdhani", sans-serif;
  }

  .cancelEdit {
    &:hover {
      color: lightgray;
    }
  }

  .write {
    overflow: hidden;
    @media (max-width: 426px) {
      overflow-y: scroll;
    }
    transition: max-height 0.3s ease-out;
    border-radius: 5px;
    margin: 0 5px;
    max-height: 500px;
    padding: 0 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;

    &.writeOpen {
      max-height: 110px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 250px;
      @media (max-width: 463px) {
        height: 300px;
      }
      @media (min-width: 1023px) {
        height: 500px;
      }

      .textareaField {
        width: 100%;
        height: 90px;
        @media (min-width: 1023px) {
          height: 320px;
        }
      }
    }
  }
}
