@import "../../styles/variables.scss";

.breadCrumbCountainer {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  color: $main_border;
  overflow-x: scroll;

  .active_ticket {
    color: $main_violet;
  }
}
