.container_create_ticket {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: auto;
    height: calc(100vh - 4rem);
    padding: 1rem;
    z-index: 0;
    width: 100%;
    overflow-y: scroll;

    

  .fieldTitle {
    width: 100%;
    margin-bottom: 1rem;
    @media (max-width: 426px) {
      width: 100%;
    }
  }
  .textareaField {
    display: block;
    width: 100%;
    height: 200px;
  }
}
