$border-radius: 8px;
    $border-width: 2px;

    .box {
      position: relative;
      padding: 1rem 2rem;
      background: linear-gradient(180deg, #6b3dce, #f6990d);
      border: 0;
      border-radius: $border-radius;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 250px;
      @media (max-width: 769px) {
        width: 100%;
      }

      .stat {
        display: flex;
        gap: 5px;
        align-items: center;

        
      }
    }

    .box::before {
      content: "";
      position: absolute;
      top: $border-width;
      left: $border-width;
      width: calc(100% - calc($border-width * 2));
      height: calc(100% - calc($border-width * 2));
      border-radius: calc($border-radius - $border-width);
      z-index: -1;
    }