@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;font-family: inter, "sans-serif";
}

body {
  overflow: hidden;
  font-family: inter, "sans-serif";
}
::-webkit-scrollbar {
  width: 0;
}
.main {
  &.light {
    color: $colorLight;
    background-color: $backgroundLight;
  }
  &.dark {
    color: $colorDark;
    background-color: $backgroundDark;
  }

  .container {
    display: flex;
  }
}
