$main_violet:#9c27b0;
$main_color:#959292;
$main_border:#C1C1C1;
/*********dark***************/
$backgroundDark: rgb(38 38 38);
$colorDark:white;
/********light***************/
$backgroundLight: white;
$colorLight:black;


