@import "../../styles/variables.scss";

.item {
  border: 1px solid $main_border;
  @media (max-width: 426px) {
    padding: 10px;
  }
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  display: flex;
  transition: max-height 0.5s ease;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 426px) {
    font-size: 12px;
  }
  &.closed {
    @media (max-width: 426px) {
      max-height: 55px;
    }
    max-height: 60px;
    overflow: hidden;
  }

  &.open {
    max-height: 100%;
    overflow: hidden;
  }

  hr {
    width: calc(100% + 40px);
    margin: 0 -20px;
    box-sizing: content-box;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

    .id_status {
      display: flex;
      align-items: center;
      gap: 10px;

      .id {
        font-weight: bold;
      }
    }

    .date {
      color: $main_border;
      font-size: 14px;
      display: flex;
      align-items: center;
      @media (max-width: 426px) {
        font-size: 10px;
      }
    }
  }

  .center {
    flex: 1;
    max-height: 80px;
    overflow-y: scroll;

    h2 {
      text-align: center;
    }
  }

  .left {
    padding: 10px;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;

    .part {
      // text-align: center;
    }

    .avatar {
      margin-top: 10px;
      height: 30px;
      width: 530px0px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
