@import "../../styles/variables.scss";

nav {
  &.light{
    background-color: $backgroundLight;
  }
  &.dark{
    background-color: $backgroundDark;
  }
  height: calc(100vh - 45px);
  // overflow-y: scroll;
  // overflow-x: hidden;
  min-width: 160px;
  transition: min-width 500ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:0;
  z-index: 1;

  @media (max-width: 426px) {
    position: absolute;
    left: 0px;
    min-width: 200px;
    transition: left 500ms ease;
  }

  ul {
    margin-top: 1rem;
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0 0.5rem 0 0.5rem;
    gap: 5px;

    li {
      display: flex;
      width: 100%;
      // justify-content: center;
      align-items: center;
      padding: 1rem;

      &:hover {
        background-color: lightgray;
        border-radius: 5px;
        cursor: pointer;
        color: black;
        justify-content: center;
      }

      &.active_menu {
        background-color: lightgray;
        border-radius: 5px;
        color: black;
        justify-content: center;
      }

      .nav-items {
        margin-left: 1rem;
      }
    }
  }

  ul:last-child {
    margin-bottom: 20px;
  }
}

.active {
  min-width: 90px;

  @media (max-width: 426px) {
    position: absolute;
    left: -200px;
    transition: left 500ms ease;
  }

  li {
    @media (min-width: 427px) {
      justify-content: flex-start;
    }
  }

  .nav-items {
    transition: opacity 500ms ease;
    display: none;;
    @media (max-width: 426px) {
      display: none;
    }
  }
}
